body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

#app {
  max-width: 600px;
  margin: auto;
}

button {
  margin: 0px;
  padding: 40px;
  font-size: large;
  cursor: pointer;
  height: 100px;
}

p {
  margin: 10px 0;
}
